.home-carousel {
  margin: 1em;;
}
.home-carousel-display {
  border: 1px solid #8c8c8c;
  overflow: hidden;
}
.home-carousel-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 300%;
}
.home-carousel-item {
  display: block;
  width: 100%;
}
.home-carousel-link {
  display: block;
  width: 100%;
}
.home-carousel-image {
  display: block;
  width: 100%;
  height: auto;
}
.home-carousel-controls {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  text-align: center;
}
.home-carousel-control {
  background-color: #eee;
  border: 1px solid #8c8c8c;
  border-radius: 1em;
  box-shadow: none;
  margin-right: 0.5em;
  width: 2.25em;
  min-width: 0;
  height: 0.75em;
  min-height: 0;
}
.home-carousel-control:last-child {
  margin-right: 0;
}
.home-carousel-control:focus,
.home-carousel-control:hover {
  border-color: #8c8c8c;
  box-shadow: 0 0 0 2px #8c8c8c inset;
}
.home-carousel-control:active {
  background-color: #ffe264;
}
.home-carousel-control-current,
.home-carousel-control-current:focus,
.home-carousel-control-current:hover,
.home-carousel-control-current:active {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  box-shadow: none;
}
.home-menu {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  height: 100%;
  word-break: keep-all;
}
.home-menu-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.home-menu-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  margin: 0.5em;
}
.home-menu-link {
  border: 1px solid;
  border-radius: 8px;
  box-sizing: border-box;
  color: inherit;
  display: block;
  text-align: center;
  padding: 1.5em;
  width: 100%;
  height: 100%;
}
.home-menu-link:focus,
.home-menu-link:hover {
  text-decoration: none;
}
.home-menu-link-recommend {
  background-color: #fee;
  border-color: #bf4e32;
  color: #600000;
}
.home-menu-link-recommend:focus,
.home-menu-link-recommend:hover {
  box-shadow: 0 0 0 2px #bf4e32 inset;
}
.home-menu-link-recommend:active {
  background-color: #bf4e32;
  color: #fff;
}
.home-menu-link-mypet {
  background-color: #fed;
  border-color: #ab612d;
  color: #570b0b;
}
.home-menu-link-mypet:focus,
.home-menu-link-mypet:hover {
  box-shadow: 0 0 0 2px #ab612d inset;
}
.home-menu-link-mypet:active {
  background-color: #ab612d;
  color: #fff;
}
.home-menu-link-chatbot {
  background-color: #f0f7ff;
  border-color: #347c99;
  color: #132b36;
}
.home-menu-link-chatbot:focus,
.home-menu-link-chatbot:hover {
  box-shadow: 0 0 0 2px #347c99 inset;
}
.home-menu-link-chatbot:active {
  background-color: #347c99;
  color: #fff;
}
.home-menu-link-notification {
  background-color: #eeffe5;
  border-color: #5c7a5c;
  color: #143d14;
}
.home-menu-link-notification:focus,
.home-menu-link-notification:hover {
  box-shadow: 0 0 0 2px #5c7a5c inset;
}
.home-menu-link-notification:active {
  background-color: #5c7a5c;
  color: #fff;
}
.home-menu-link-shopping {
  background-color: #fffde7;
  border-color: #a16635;
  color: #63350f;
}
.home-menu-link-shopping:focus,
.home-menu-link-shopping:hover {
  box-shadow: 0 0 0 2px #a16635 inset;
}
.home-menu-link-shopping:active {
  background-color: #a16635;
  color: #fff;
}
.home-icon {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 auto 0.5em;
}
