{% extends 'layouts/default.html' %}

{% block title %}{{ page_title[id] }} - {{ site_title }}{% endblock title %}

{% block head -%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/login.css') }}">
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v16.0" nonce="BoPAhJGc"></script>
{%- endblock %}

{% block header -%}
{% include 'layouts/header-page.html' %}
{% endblock header %}

{% block content -%}
{% include 'contents/reset-password.html' %}
{% endblock content %}

{% block footer -%}
{% include 'layouts/footer.html' %}
{%- endblock footer %}

