<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<style>
   a{
     color: black ;
     text-decoration: none;
   }
   a:focus, a:hover{
        color: black ;
    }
    body{
        margin: 0 auto;
    }
    p, label{
        font-weight: bold;
    }
    p{
        margin-bottom: 8px;
    }
    .mypet-age-all{
        width: 100px;
    }
    .pet-detail-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .form-control, .form-select{
        width: 325px;
    }
    .btn-group{
        width: 325px;
        background-color: #fed;
    }
    .form-select1, .form-select2{
        width: 50%;
    }
    .mypet-age{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .btn-submit{
        font-weight: bold;
        background-color: #fed;
        border: solid 1px orange;
        margin-top: 20px;
    }
    .mypet-sumit{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 50px;  
    }
    .btn-a-submit{
      text-decoration:none !important;
      padding: 10px;
      color: black;
    }
    .btn-a-submit:hover{
      color: black;
    }
    .btn-a-submit:active{
      color: black;
      background-color: #fed;
      
    }
    button:hover{
       color: black;
       border: none;
       box-shadow: none;
       border: solid 1px orange;
    }
    button:active,
    button:focus{
      background-color: #fed;
       color: black;
       border: none;
       box-shadow: none;
       border: solid 1px orange;
    }


 
</style>
<div class="mypetpush" style="margin-top: 20px;">
</div>

<form action="/update_pet" method="post" enctype="multipart/form-data">
    <div class="pet-detail-container">
        <div class="mb-3">
            <label for="formFile" class="form-label">마이 펫 이미지</label>
            <input class="form-control" type="file" name="formFile">
        </div>
        <div class="mb-3">
            <label for="mypet-name" class="form-label">마이 펫 이름</label>
            <input type="text" class="form-control" name="mypet-name" placeholder="name"> <!-- id는 스크립트 단에서 사용하는 것이라 접근 불가! name은 서버단에서 사용 가능함.-->
        </div>
        <div class="mb-3">
            <label for="mypet-type" class="form-label">마이 펫 종류</label>
            <select class="form-select1" size="3" aria-label="size 3 select example" name="mypet-type" >
                <option value="강아지">강아지</option>
                <option value="고양이">고양이</option> 
            </select>
        </div>
        
        <p>마이 펫 성별</p<br>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="gender" value="수컷" id="male" autocomplete="off" checked>
            <label class="btn btn-outline-warning" for="male">수컷</label>
        
            <input type="radio" class="btn-check" name="gender" value="암컷" id="female" autocomplete="off">
            <label class="btn btn-outline-warning" for="female">암컷</label>
        
        </div><br>

        <p>마이 펫 나이</p>
        <div class="mypet-age">
            <select class="form-select1" size="3" aria-label="size 3 select example" name="age-years">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="15이상">15이상</option>
            </select>
        <p class="mypet-age-all">년</p>
            <select class="form-select2" size="3" aria-label="size 3 select example" name="age-months">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <p class="mypet-age-all">개월</p>
        </div><br>

        <div class="mb-3">
            <label for="mypet-weight" class="form-label">체중</label>
            <input type="text" class="form-control" name="mypet-weight" placeholder="weight">
        </div><br>

        <p>중성화 여부</p>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="neuter" value="O" id="mypet-neuter-yes" autocomplete="off" checked>
            <label class="btn btn-outline-warning" for="mypet-neuter-yes">중성화 O</label>
        
            <input type="radio" class="btn-check" name="neuter" value="X" id="mypet-neuter-no" autocomplete="off">
            <label class="btn btn-outline-warning" for="mypet-neuter-no">중성화 X</label>
        
        </div>
        <br>
        <div class="mypet-sumit">
          <input class="btn btn-submit" type="submit" value="정보 수정 완료">
          <button  type="button" class="btn btn-submit "><a href="/delete_pet" class="btn-a-submit">마이 펫 정보 삭제하기</a></button>
        </div>
    </div>
</form>







  





  

